<%- include('partials/header'); -%>
<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label for="titile">Title </label>
    <input type="text" class="form-control" name="postTitle" />
    <label for="titile">Post</label>
    <textarea class="form-control" rows="3" name="postBody"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" name="button">Publish</button>
</form>
<%- include('partials/footer'); -%>
